

.MuiCardContent-root{
    padding-bottom: 0px;
}
.textOverFlow {
    white-space: pre-line;
    overflow: auto;
    height: 100px;
}
// .test{
//     width: 100px;
//     height: 40px;
//     background:green;
//     &:hover{
//         cursor: pointer;
//         background: red;
//     }
// }
